<%- include("navbar.ejs")%>
<div class="container-fluid">
    <div class="row mt-5 mb-5 mx-4">
        <div class="col-md-6">
            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/dr-sandeep-gadkari-1536x1024.jpg" alt="" class="rounded" width="100%" height="100%">
        </div>
        <div class="col-md-6">
            <h2 class="mt-4" style="font-size: 35px;"><span class="text-success">About Atharva Hospital</span></h2>
            <p class="mt-4" style="font-family: sans-serif; font-weight: 500; font-size: 19px;">
                Health care in the country has improved dramatically. There is blooming Health industry & Health tourism with many upcoming posh Hospitals mushrooming mainly in metros and making health care a mere business. With the Incoming levels in the metros & towns soaring in the last decade, the demand for superior medical facilities has made health industry a lucrative business. This is the reason why many Industrialists & Non – Medical firms are also investing in this “Business’’. However, access to such hospital is still a white elephant for a common man & patients from different location of Pune . Hence,  <br><br>
                We probably have taken a bold and innovative step to Multi speciality Hospital which would have both “Quality and Technology” as a combination and still affordable to a common man & patients coming from different location of Pune.  </p>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: rgb(166, 166, 166);">
    <div class="row mx-4 p-5" id="mission_vision">
        <div class="col-md-6 text-center">
            <div class="card bf-white rounded-5">
                <div class="card-head py-4">
                    <i class="fa-solid fa-eye about-icin"></i>
                    <h2 class="text-success mt-3 mb-0 pb-0">Mission</h2>
                </div>
                <div class="card-body pt-0">
                    <p>“Our mission is to provide healthcare of international standards through a team of qualified professionals and at a cost affordable to the community. We are also committed to maintain clinical excellence by focusing on healthcare academics and use of latest technology.”</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center " id="vision_card">
            <div class="card bf-white rounded-5">
                <div class="card-head py-4">
                    <i class="fa-solid fa-crosshairs about-icin"></i>
                    <h2 class="text-success mt-3 mb-0 pb-0">Vision</h2>
                </div>
                <div class="card-body pt-0">
                    <p>
                        “Our vision is to be the region’s foremost healthcare provider with access to diverse clinical services focusing on consistency in delivery of quality care and use of best technology, healthcare provider with access to diverse clinical services focusing on consistency.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 text-center">
            <img class="rounded-circle dr_img" src="https://atharvahospital.com/wp-content/uploads/2023/01/2W6A4371-2.jpg" alt="" width="100%">
        </div>
        <div class="col-md-9">
            <h2 class="text-success">Dr. Sandeep Agarwal</h2>
            <p>Are you suffering from Piles, Fissure or Fistula? If yes, then this is the right place for you.After long experience with differnt types of piles treatments Dr. Sandeep Agarwal, Director of Atharva Hospital has brought no cut, no suture, no wound surgery for treatment of piles by BEIM(Biological Electrical Impedance Automeasurement) technology. We are here to give you quality treatment in patient friendly environment. Not only this when you come to checkup your piles diagnosis can be by special in clinic PROCTOSCOPE on the spot. Also surgery time is up to 10 – 15 minutes. So, within 15 minutes you can be relieved from years long suffering from piles.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3 text-center">
            <img class="rounded-circle dr_img" src="https://atharvahospital.com/wp-content/uploads/2023/01/2W6A4368-1.jpg" alt="" width="90%">
        </div>
        <div class="col-md-9 mb-5">
            <h2 class="text-success">Dr. Sandeep Agarwal</h2>
            <p>
                Are you suffering from dental problem? If yes, then this is the right place for you. After long experience with differnt types of dental treatments Dr. Snigdha Agarwal, Director of Atharva Hospital has brought best solutions for treatment of Dental problem with latest technology. We are here to give you quality treatment in patient friendly environment.  Also procedure time is up to 1 – 2 hrs. So, within short time you can be relieved from years long suffering from dental problems..</p>
        </div>
    </div>
</div>
<%- include("footer.ejs")%>