<div class="container-fluid bg-dark" id="footer">
    <div class="container">
        <div class="row text-white all_links">
            <div class="mt-5 col-md-3">
                <h4>About Atharva Hospital</h4>
                <hr>
                <p class="mt-4 other-footer">Our mission is to provide healthcare of international standards through a team of qualified professionals and at a cost affordable to the community. We are also committed to maintain clinical excellence by focusing on…</p>
            </div>
            <div class="mt-5 col-md-2">
                <h4 class="text-end f-links mb-3">Quick Links</h4>
                <hr>
                <ul type="none">
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Home</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>About Us</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Blogs</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Laboratory</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Stories</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Gallery</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="mt-5 col-md-2">
                <h4 class="text-end f-links mb-3">Our Services</h4>
                <hr>
                <ul type="none">
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Piles</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Fissure</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Fistula</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Circumcision</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Pilonidal Sinus</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Hernia</a></li>
                </ul>
            </div>
            <div class="col-md-2" id="mixLinks">
                <ul type="none" style="margin-top: 110px;">
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Reactal Abs</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Genral Surgery</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Constipation</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Laparoscopy</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Pelvic Organ</a></li>
                    <li class="mt-2 footer-links"><a class="nav-link" href="#"><i class="me-2 fa fa-greater-than"></i>Dental</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="ms-4 mt-5 mb-3">Get In Touch</h4>
                <hr>
                <ul style="list-style-type: none;">
                    <li class="mt-2 other_footer"><a class="nav-link" href="#"><i class="fa-solid fa-location-dot me-3"></i>1970, Gaffar Baig St, next to Shri Chatrapati Shivaji Market, Camp. Pune - 411001. Maharashtra.</a></li>
                    <li class="mt-3 other_footer"><a class="nav-link" href="#"><i class="me-2 fa-solid fa-phone"></i>+020 25535757</a></li>
                    <li class="mt-3 other_footer"><a class="nav-link" href="#"><i class="me-2 fa-solid fa-envelope"></i>atharv2014@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>