<%- include("navbar.ejs")%>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="https://atharvahospital.com/wp-content/uploads/2023/01/FINAL-VIEW.jpg" alt="" class="rounded" width="100%" height="100%">
            </div>
            <div class="col-md-6">
                <h2 class="mt-5" style="font-size: 35px;">Welcome To <span class="text-success">Atharva Hospital|</span></h2>
                <p class="mt-4" style="font-family: sans-serif; font-weight: 500; font-size: 19px;">
                    Are you suffering from Piles, Fissure or Fistula? If yes, then this is the right place for you. After long experience with different types of piles treatments Dr. Sandeep Agarwal, Director of Atharva Hospital has brought No Cut, No Suture, No Wound surgery for treatment of piles by BEIM(Biological Electrical Impedance Auto-measurement) technology.
                    <br><br>
                    We are here to give you quality treatment in patient friendly environment. Not only this when you come to checkup your piles diagnosis can be done by special in clinic PROCTOSCOPE on the spot. Also surgery time is only 10 – 15 minutes. So, within 15 minutes you can be relieved from years long suffering from piles.
                </p>
                <button class="btn btn-success" style="border-top-left-radius: 30px;border-bottom-left-radius: 30px;">Read More</button><button class="btn btn-danger" style="border-top-right-radius: 30px;border-bottom-right-radius: 30px; margin-left: -5px;">Contact Us</button>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4" style="background-color: rgb(235, 247, 241);">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="https://atharvahospital.com/wp-content/uploads/2023/01/beim-img.png" alt="" class="img-fluid" style="margin-top: 100px;">
                </div>
                <div class="col-md-8">
                    <h2 class="mt-5" style="font-size: 35px;">BEIM Technology</h2>
                    <p class="mt-4" style="font-family: sans-serif; font-weight: 500; font-size: 18px;">
                        Patent Technology Of Biological Electrical Impedance Auto-Measurement (BEIM) Makes Tissues Dry And Hard Without Carbonization. While Curing Hemorrhoid, BEIM Pincers Generates Heat Rapidly To Vaporize Water Of Hemorrhoid Tissues Instantly. The Electronical Impedance Of Hemorrhoid Tissues Becomes Larger And Larger. While Electrical Impedance Of Hemorrhoid Tissues Matches With Output Impedance Of The Device, The Tissues Become Dry And Hard Without Carbonization, And At The Same Time The Device Sounds The Alarm Automatically. 
                        <br><br>
                        It Settles The Technological Difficulty Of Time Setting By Person Presently And Medical Difficulty Of Massive Haemorrhage After Operation By Other Treatment Methods. Used For Making The Base Of The Hemorrhoid Dry And Hard So As To Seal Off The Base, No Blood Can Flow Out. It Possess Patent Technology Of Biological Electrical Impedance Auto-Measurement (BEIM), Which Can Auto-Measure The Electrical Impedance Of Hemorrhoid Tissues, According To Which The Pincers Auto-Generate The Right Heat So As To Make Tissues Dry And Hard Of High Quality: No Stitch & No Bleeding.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <!-- <div class="row mb-5">
            <div class="col-md-6 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ja_PriVo2ZA?si=pp_wMRgwcf3kySbY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="rounded"></iframe>
                <h5 class="mt-2">Gaurav Maharashtra Award For “EXCELLENCE IN SURGERY” from Hon. Shri NITIN GADKARIJI on 28th July 2018</h5>
            </div>
            <div class="col-md-6 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lcq1Ro5zQos?si=50UYgw1tqwyLZIWu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="rounded"></iframe>
                <h5 class="mt-2">Shri SWAPNIL JOSHIji at the inauguration ceremony of ATHARV HOSPITAL</h5>
            </div>
        </div> -->
        <div class="row mb-4 text-center">
            <div class="col-12 col-md-4 ">
                <iframe width="360" height="230" class="rounded" src="https://www.youtube.com/embed/jVKSUNOCg-Y?si=2mlkt68Sh3TTk9Z3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-12 col-md-4 ">
                <iframe width="360" height="230" class="rounded" src="https://www.youtube.com/embed/UuD-boy_fok?si=3KxaUCTKubLUl6-7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-12 col-md-4 ">
                <iframe width="360" height="230" class="rounded" src="https://www.youtube.com/embed/6xEEXjUQ87Y?si=wQDTCaRCLEmr9u2S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <iframe width="360" height="230" class="rounded" src="https://www.youtube.com/embed/bLmYtfMNLcw?si=J8h4osJPFPJrPJpl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-12 col-md-4">
                <iframe width="360" height="230" class="rounded" src="https://www.youtube.com/embed/6NChhlc36Wg?si=EQqEqGBYpy6zs27G" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="col-12 col-md-4">
                <iframe width="360" height="230" class="rounded" src="https://www.youtube.com/embed/EG9ayN2MRWQ?si=C_WxFD1cYuGHjU0v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
 
    <!-- specialist section start here  -->

    <div class="container-fluid p-5 bg-dark mt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-white text-center ">
                <h2>Our Specialities</h2>
               </div>
          </div>
        </div>

        <div class="container">
            <div class="row mt-3">
                <div class="col-md-3  rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/piles.png" alt="">
                            <h3 class="mt-2 mb-2">Piles</h3>
                            <p> Piles or haemorrhoids is one of the most common ailments today. It is a varicose and often inflamed condition of the veins, inside or just outside the rectum…</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/fissure.png" alt="">
                            <h3 class="mt-2 mb-2">Fissure</h3>
                            <p>An anal fissure or Fissure-in-ano is a tear or cut in the skin of the anal canal. The condition affects men and women equally and can occur at any age (infants too) Anal…</p>        
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/fitula.png" alt="">
                            <h3 class="mt-2 mb-2">Fistula</h3>
                            <p>Fistula  is a condition in which the rectum (i.e. the last few inches of the large intestine) or a part of it, loses its normal attachments inside the body, and pro…</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/circumsion-2.png" alt="">
                            <h3 class="mt-2 mb-2">Circumsion</h3>
                            <p>Circumcision is the surgical removal of foreskin, the skin covering the tip of the penis. Circumcision is an ancient practice that has its origin in religious…</p>        
                        </div>
                    </div>
                </div>
              </div>


              <!-- seconda row will starta here  -->

              <div class="row mt-3 ">
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/piles.png" alt="">
                            <h3 class="mt-2 mb-2">Piles</h3>
                            <p> Piles or haemorrhoids is one of the most common ailments today. It is a varicose and often inflamed condition of the veins, inside or just outside the rectum…</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/fissure.png" alt="">
                            <h3 class="mt-2 mb-2">Fissure</h3>
                            <p>An anal fissure or Fissure-in-ano is a tear or cut in the skin of the anal canal. The condition affects men and women equally and can occur at any age (infants too) Anal…</p>        
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/fitula.png" alt="">
                            <h3 class="mt-2 mb-2">Fistula</h3>
                            <p>Fistula  is a condition in which the rectum (i.e. the last few inches of the large intestine) or a part of it, loses its normal attachments inside the body, and pro…</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/circumsion-2.png" alt="">
                            <h3 class="mt-2 mb-2">Circumsion</h3>
                            <p>Circumcision is the surgical removal of foreskin, the skin covering the tip of the penis. Circumcision is an ancient practice that has its origin in religious…</p>        
                        </div>
                    </div>
                </div>
              </div>


              <!-- third row starts here  -->
              <div class="row mt-3">
                <div class="col-md-3  rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/piles.png" alt="">
                            <h3 class="mt-2 mb-2">Piles</h3>
                            <p> Piles or haemorrhoids is one of the most common ailments today. It is a varicose and often inflamed condition of the veins, inside or just outside the rectum…</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/fissure.png" alt="">
                            <h3 class="mt-2 mb-2">Fissure</h3>
                            <p>An anal fissure or Fissure-in-ano is a tear or cut in the skin of the anal canal. The condition affects men and women equally and can occur at any age (infants too) Anal…</p>        
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/fitula.png" alt="">
                            <h3 class="mt-2 mb-2">Fistula</h3>
                            <p>Fistula  is a condition in which the rectum (i.e. the last few inches of the large intestine) or a part of it, loses its normal attachments inside the body, and pro…</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rounded p-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://atharvahospital.com/wp-content/uploads/2023/01/circumsion-2.png" alt="">
                            <h3 class="mt-2 mb-2">Circumsion</h3>
                            <p>Circumcision is the surgical removal of foreskin, the skin covering the tip of the penis. Circumcision is an ancient practice that has its origin in religious…</p>        
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>

    <div class="container-fluid bg-white">
        <div class="container">
            <div class="row mt-4 mb-4" id="cust_count">
                <div class="col-md-3 text-center">
                    <h1>10+</h1>
                    <h4>Years of Experience</h4>
                </div>
                <div class="col-md-3 text-center">
                    <h1>10,000+</h1>
                    <h4>Happy Patients</h4>
                </div>
                <div class="col-md-3 text-center">
                    <h1>5,000+</h1>
                    <h4>Surgeries Done</h4>
                </div>
                <div class="col-md-3 text-center">
                    <h1>50+</h1>
                    <h4>Awards</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- update test8monial pages  -->
    <div class="container-fluid" style="background-color: rgb(85, 194, 132); padding-top: 50px; padding-bottom: 50px;">
        <div class="container">
            <div class="row text-center rounded">
                <div class="col-md-12">
                    <h2 class="mt-5 text-white" id="testi">Testimonials</h2>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card feedback">
                        <div class="card-body">
                            <img class="w-50 mx-auto mb-3" src="https://lh3.googleusercontent.com/a/AEdFTp7AoUFxLovJX68ed1ceA7UoC9CCv_SFHMHhUUIk=s120-c-c-rp-w64-h64-mo-br100" alt="">
                            <span class="d-block">Santa Tambe</span>
                            <div class="mt-2">
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                            </div>
                            <div class="mt-2" style="height: 120px; overflow: auto;">
                                <p>मी संतोष तांबे मला काही वर्षांपासून मुळवयाध होते माझे पोट साफ होत नव्हते मि संदिप अग्रवाल सरांना भेटलो मला सर्जरी करण्यास सांगितले मी हि तयार झालो सर्जरी केली आता मला कसलाही त्रास नाही मि आनंदित आहे धन्यवाद सर</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repeat similar code for other testimonials -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card feedback">
                        <div class="card-body">
                            <img class="w-50 mx-auto mb-3" src="https://lh3.googleusercontent.com/a/AEdFTp7AoUFxLovJX68ed1ceA7UoC9CCv_SFHMHhUUIk=s120-c-c-rp-w64-h64-mo-br100" alt="">
                            <span class="d-block">Santa Tambe</span>
                            <div class="mt-2">
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                            </div>
                            <div class="mt-2" style="height: 120px; overflow: auto;">
                                <p>मी संतोष तांबे मला काही वर्षांपासून मुळवयाध होते माझे पोट साफ होत नव्हते मि संदिप अग्रवाल सरांना भेटलो मला सर्जरी करण्यास सांगितले मी हि तयार झालो सर्जरी केली आता मला कसलाही त्रास नाही मि आनंदित आहे धन्यवाद सर</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- separator  -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card feedback">
                        <div class="card-body">
                            <img class="w-50 mx-auto mb-3" src="https://lh3.googleusercontent.com/a/AEdFTp7AoUFxLovJX68ed1ceA7UoC9CCv_SFHMHhUUIk=s120-c-c-rp-w64-h64-mo-br100" alt="">
                            <span class="d-block">Santa Tambe</span>
                            <div class="mt-2">
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                            </div>
                            <div class="mt-2" style="height: 120px; overflow: auto;">
                                <p>मी संतोष तांबे मला काही वर्षांपासून मुळवयाध होते माझे पोट साफ होत नव्हते मि संदिप अग्रवाल सरांना भेटलो मला सर्जरी करण्यास सांगितले मी हि तयार झालो सर्जरी केली आता मला कसलाही त्रास नाही मि आनंदित आहे धन्यवाद सर</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- the new  -->
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card feedback">
                        <div class="card-body">
                            <img class="w-50 mx-auto mb-3" src="https://lh3.googleusercontent.com/a/AEdFTp7AoUFxLovJX68ed1ceA7UoC9CCv_SFHMHhUUIk=s120-c-c-rp-w64-h64-mo-br100" alt="">
                            <span class="d-block">Santa Tambe</span>
                            <div class="mt-2">
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                                <i class="fa-solid fa-star text-warning"></i>                                
                            </div>
                            <div class="mt-2" style="height: 120px; overflow: auto;">
                                <p>मी संतोष तांबे मला काही वर्षांपासून मुळवयाध होते माझे पोट साफ होत नव्हते मि संदिप अग्रवाल सरांना भेटलो मला सर्जरी करण्यास सांगितले मी हि तयार झालो सर्जरी केली आता मला कसलाही त्रास नाही मि आनंदित आहे धन्यवाद सर</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <%- include("footer.ejs")%>