<%- include("navbar.ejs")%>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body p-0">
                    <img src="https://atharvahospital.com/wp-content/uploads/2023/01/05.jpg" alt="" width="100%">
                </div>
                <div class="card-footer p-3 bg-dark text-white text-center cfoot">
                    <h5>Maharashtra Gaurav Award By Hon Cabinet Minister Shri Nitin Gadkari</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body p-0">
                    <img src="https://atharvahospital.com/wp-content/uploads/2023/01/06.jpg" alt="" width="100%">
                </div>
                <div class="card-footer p-3 bg-dark text-white text-ceter cfoot">
                    <h5>Agrasen Award By Padamshree Ujwal Nikamji</h5>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body p-0">
                <img src="https://atharvahospital.com/wp-content/uploads/2023/01/02.jpg" alt="" width="100%">
            </div>
            <div class="card-footer p-3 bg-dark text-white text-ceter cfoot">
                <h5>Excellence In Best Chikitsak Award, New Delhi</h5>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body p-0">
                <img src="https://atharvahospital.com/wp-content/uploads/2023/01/04.jpg" alt="" width="100%">
            </div>
            <div class="card-footer p-3 bg-dark text-white text-center cfoot">
                <h5>h Care Excellence Award By Hon Mp Of Pune Shri Girishji Bapat</h5>
            </div>
        </div>
    </div>
</div>

    <!-- new row  -->


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body p-0">
                    <img src="https://atharvahospital.com/wp-content/uploads/2023/01/07.jpg" alt="" width="100%">
                </div>
                <div class="card-footer p-3 bg-dark text-white text-center cfoot">
                    <h5>Health Icon Of Pune By Hon. State Cabinet Minister Shri Satej Ji Patil</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body p-0">
                    <img src="https://atharvahospital.com/wp-content/uploads/2023/01/03.jpg" alt="" width="100%">
                </div>
                <div class="card-footer p-3 bg-dark text-white text-ceter cfoot">
                    <h5>Surgeon Of The Year Award By Hon Cabinet Minister Nawab Malik Ji</h5>
                </div>
            </div>
        </div>
    </div>

    <!-- new row  -->


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body p-0">
                    <img src="https://atharvahospital.com/wp-content/uploads/2023/01/08.jpg" alt="" width="100%">
                </div>
                <div class="card-footer p-3 bg-dark text-white text-ceter cfoot">
                    <h5>Health Icon Of Pune Award By State Cabinet Minister Shri Chandrakant Patil Ji</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("footer.ejs")%>